<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrationService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.RegistrationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQueryService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.SearchQueryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.FileUploadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFileService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.FetchFileService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstallationService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.InstallationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPermissionService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.AddPermissionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchPermissionService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.FetchPermissionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePermissionService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.UpdatePermissionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchNotificationService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.FetchNotificationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotificationService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.UpdateNotificationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchAllPermissionService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.FetchAllPermissionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevokePermissionService</servlet-name>
        <servlet-class>com.mmx.hackathon.service.RevokePermissionService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationService</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQueryService</servlet-name>
        <url-pattern>/SearchQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstallationService</servlet-name>
        <url-pattern>/Installation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPermissionService</servlet-name>
        <url-pattern>/AddPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadService</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFileService</servlet-name>
        <url-pattern>/FetchFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchPermissionService</servlet-name>
        <url-pattern>/FetchPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePermissionService</servlet-name>
        <url-pattern>/UpdatePermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchNotificationService</servlet-name>
        <url-pattern>/FetchNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotificationService</servlet-name>
        <url-pattern>/UpdateNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchAllPermissionService</servlet-name>
        <url-pattern>/FetchAllPermission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevokePermissionService</servlet-name>
        <url-pattern>/RevokePermission</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
